# ==========================================
# ENTORNO Y SERVIDOR
# ==========================================
ENTORNO=desarrollo
PUERTO=3000
URL_API=http://localhost:3000
PREFIJO_GLOBAL=api/v1
CORS_ORIGINS=

# ==========================================
# BASE DE DATOS MYSQL
# ==========================================
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NOMBRE=softel_db
DB_USUARIO=root
DB_CLAVE=tu_password
DB_SINCRONIZAR=false
DB_LOGGING=true

# ==========================================
# SEGURIDAD Y JWT
# ==========================================
JWT_SECRET=super_secreto_para_firmar_tokens_seguros_2026
JWT_EXPIRACION=8h

# ==========================================
# ALMACENAMIENTO (LOCAL O CLOUDINARY)
# ==========================================
STORAGE_PROVIDER=cloudinary
STORAGE_LOCAL_RUTA=./almacenamiento-local
STORAGE_PUBLIC_URL=http://localhost:3000/uploads
MAX_TAMANO_IMAGEN_MB=10
CALIDAD_WEBP=80

# ==========================================
# CLOUDINARY CREDENCIALES
# ==========================================
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
